*{border: 0.2px solid red;}
.sony-logo{ height: 15%;width: 100%;}
.sony-logo img{object-fit: cover; height: 100%;}

.lens-link img{width: 30px}
.lens-link {width: 50%;}
.returnal-buy-bg{background-image:url(//img/returnal-listing-thumb-01-ps5.jpg);}
.w-60 {width: 60%;}


